@import 'public.scss';
header{
    width:980px;
    height:50px;
    margin:10px auto;
    border-bottom:1px solid #7A7F89;
}
h3{
    width:980px;
    margin:0 auto;
}
.prompt{
    @extend h3;
}
table{
    width:980px;
    margin:0 auto;
    border:1px solid #DCDFE4;
    tr{
        background: #e3e3e3;
        height:37px;
        td{text-align:center}
    }   
}
.bar{
    width:980px;
    height:126px;
    border: 1px solid #EBE5BB;
    margin:0 auto;
    background: #fffef5;
    margin-top:10px;
    position: relative;
    ul{
        width:980px;
        height:40px;
        li{
            float:left;
            margin-left:20px;
            line-height:40px;
        }
    }
    p{
        width:980px;
        line-height:30px;
        text-indent:20px;
    }
    a:nth-of-type(1){
        position:absolute;
        display:block;
        color: #666;
        height: 37px;
        line-height: 37px;
        background: #e2e1e1;
        font-size: 14px;
        text-align: center;
        width: 122px;
        border:1px solid grey;
        border-radius:5px;
        left:650px;
        top:65px;
    }
    a:nth-of-type(2){
        position:absolute;
        display:block;
        color: #fff;
        height: 50px;
        line-height: 50px;
        width:170px;
        background: #b00505;
        font-size:20px;
        border-radius:5px;
        text-align:center;
        left:790px;
        top:57px;
    }
}
