@import 'public.scss';
@mixin size($width,$height){
    width:$width;
    line-height:$height;
}
.sort{
    font-family: '宋体';
    @include size(1200px,22px)
    margin:0 auto;
}
.nav{
    @include size(1200px,46px);
    margin:0 auto;
    height:46px;
    border-bottom: 1px solid #e5e6e6;
    p{
        font-size: 18px;
        font-weight: bold;
        font-family: "Microsoft YaHei";
        float:left;
     
    }
    ul{
        @include size(510px,45px);
        font-family: 微软雅黑;
        color: #000;
        font-weight: bold;
        font-size: 15px;
        float:right;
        li{
            line-height:45px;
            float:left;
            text-align:center;
            a{
                margin:0 13px;
            }
        }
    }
}
main{
    width:1200px;
    height:480px;
    margin:30px auto;
    .main-left{
        @include size(634px,426px);
        float:left;
        ul{
            width:72px;
            height:415px;
            float:left;
            li{
                border: 1px solid #B4B4B4;
                width:72px;
                height:72px;
                margin-bottom:11px;
                img{
                    display:block;
                    width:72px;
                    height:72px;
                }
            }
        }
        .small-box{
            width:400px;
            height:400px;
            border: 1px solid #e5e6e6;
            float:right;
            margin-right:80px;
            position: relative;
            span{
                display:none;
                width:220px;
                height:200px;
                opacity: 0.6;
                background-color: #e6eaf3;
                border: 1px solid White;
                position:absolute;
                
            }
            .mark{
                width:100%;
                height:100%;
                position:absolute;
                z-index:100;
                cursor: crosshair;
            }
        }
    }
    .main-right{
        width:566px;
        height:520px;
        float:right;
        color: #666666;
        position: relative;
        p{
            color: #A10000;
            span{
                font-size: 24px;
            }
        }
        .color{
            margin-top:20px;
            width:525px;
            height:180px;
            color: #666666;
            p{color: #666666;margin-bottom:5px}
            span{
                cursor:pointer;
                display:inline-block;
                @include size(93px,38px)
                border: 2px dashed #c9cbca;
                margin: 0px 8px 8px 0px;
                text-align:center;
            }
        }
        .size{
            span{
                display:inline-block;
                @include size('',22px);
                margin: 1px 1px 0px 1px;
                border: 1px solid #c9cbca;
                padding:2px 8px;
            }
        }
        .num{
            margin:20px 0px;
            select{
                width:50px;
            }
            span{
                color: #a10000;
            }
        }
        .buy{
            @include size(360px,33px);
            margin:20px 0px;
            input{
                @include size(168px,33px);
                height:33px;
            }
            input:nth-child(1){
                color: #A50309;
                background: #F7ABAF;
                margin-right:15px;
            }
            input:nth-child(2){
                color: white;
                background: #b81c22;
            }
        }
        .prompt{
            width:400px;
            height:0px;
            height:70px;
            border-bottom:1px solid #a20000;
            h4{
                width:400px;
                border-bottom:1px solid #a20000;
                position: relative;
                span{
                    width:100px;
                    background: white;
                    position:absolute;
                    left:160px;
                    top:-10px;
                    text-align:center;
                }
            }
            ul{
                font-family: '宋体';
                margin-top:15px;
                li span{background: #b81c22;color:white}
            }
        }
    }
}
